:global {
  @import "../../base.less";
}

.drag-drop-matching-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.options-container {
  width: 150px;
}

.targets-container {
  display: flex;
}

.droppable-target {
  border: 2px dashed #ccc;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

.draggable-option {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}

.drag-over {
  background-color: #f0f8ff; /* 设置拖拽过程中的背景颜色 */
}

.drag-enter {
  border-color: #36f; /* 设置拖拽进入时的边框颜色 */
}

.matched-option {
  margin-top: 10px;
}