:global {
  @import "../../base.less";
  .highlight, .note {
    background-color: yellow;
  }
  .ant-input {
    background-color: transparent;
    border-width: 2px;
  }
}
.dialog {
  position: absolute;
  z-index: 999;
  min-width: 13em;
  max-width: 26em;
  padding: 0.25em 0;
  margin: 0.3em;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  list-style-type: none;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 0.2em;
  webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  .handle {
    color: #2f2f2f;
    padding: 0.2em 2em;
    text-align: left;
    cursor: pointer;
  }
  .handle:hover {
    background: #2980b6;
    color: #fff;
  }
  .btnDisabled {
    color: #bbb;
  }
}
.notebook {
  z-index: 9999;
  width: 200px;
  background-color: rgb(255, 240, 70);
  color: #333 !important;
  position: absolute;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.357em;
  border-radius: 0.357em;
  overflow: hidden;
  .note_header {
    background-color: #db0;
    border-bottom: 1px solid #a80;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
    .close_icon {
      width: 16px;
    }
  }
  .note_edit {
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    padding: 5px;
  }
}